.jsavcontainer {
  overflow:hidden;
  width: 100%;
  padding: 0.7em;
  border: 1px solid black;
  background-color: white;
}

/***** STYLING OF THE ARRAY DATA STRUCTURE *****/
.array {
  position: relative;
  list-style: none;
  overflow: hidden;
}
.array.indexed {
  margin-bottom: 0;
}
.array:after {
  content: "";
  clear: both;
}
.array .index {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 40px;
  border: 1px solid black;
  border-color: black;
  background-color: white;
  color: black;
  opacity: 1;
}
.indexlabel {
  display: inline-block;
  width: 45px;
  height: 20px;
  line-height: 20px;
  top: 50px;
  color: black;
}
.array .index span {
  z-index: 99;
}
.array .index.highlight, .array.bararray .index.highlight {
  background-color: yellow;
}

.array.bararray {
  height: 150px;
  overflow: visible;
}
.array.bararray .index {
  width: 25px;
  height: 100%;
  vertical-align: bottom;
  border: none;
  background-color: #eee;
  margin-left: 2px;
}
.bararray .index .value {
  z-index: 100;
  bottom: 0;
/*  border: 1px solid #eee;*/
  background-color: inherit;
}
.bararray .index .value, .bararray .index .valuebar {
  display: inline-block;
  line-height: 20px;
  padding: 0;
  position: absolute;
  width: inherit;
}
.bararray .index .valuebar {
  top: 0;
  background-color: #fff;
}
/***** END STYLING OF THE ARRAY DATA STRUCTURE *****/

/*** OUTPUT STYLING ***/
.output {
  width:100%;
}
.output.scroll {
  overflow: auto; 
  background-color: white; 
  border: 1px solid black;
  height:220px;
}
.output.line {
  overflow: hidden;
  border: none;
  background-color: inherit;
  height:50px;
}
/**** END OUTPUT STYLING ***/

svg {
  position: absolute;
  z-index: 500;
}

/**** STYLING THE CONTROLS ****/
.controls {
  text-align: center;
}
.controls a {
  display: inline-block;
  color: transparent;
  width: 45px;
  height: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #aaa;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-repeat:no-repeat;
  background-position:50% 50%;
}
.controls .begin {
  background-image: url(images/begin.png);
}
.controls .end {
  background-image: url(images/end.png);
}
.controls .backward {
  background-image: url(images/backward.png);
}
.controls .forward {
  background-image: url(images/forward.png);
}
/**** END STYLING THE CONTROLS ****/