/***** STYLING OF THE ARRAY DATA STRUCTURE *****/
.array {
  position: relative;
  list-style: none;
  overflow: hidden;
}
.array:after {
  content: "";
  clear: both;
}
.array .index {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  border: 1px solid black;
  border-color: black;
  background-color: white;
  color: black;
  opacity: 1;
}
.array .index span {
  z-index: 99;
}
.array .index.highlight {
  background-color: yellow;
}
/***** END STYLING OF THE ARRAY DATA STRUCTURE *****/

#container {
  overflow:hidden;
  height: 400px;
  width: 100%;
}

/*** OUTPUT STYLING ***/
.output {
  width:100%;
}
.output.scroll {
  overflow: auto; 
  background-color: white; 
  border: 1px solid black;
  height:220px;
}
.output.line {
  overflow: hidden;
  border: none;
  background-color: inherit;
  height:50px;
}
/**** END OUTPUT STYLING ***/

svg {
  position: absolute;
  z-index: 500;
}
.controls a {
  padding: 10px;
}
