[submodule "lib/jquery.transform.js"]
	path = lib/jquery.transform.js
	url = git://github.com/louisremi/jquery.transform.js.git
[submodule "lib/raphael"]
	path = lib/raphael
	url = git://github.com/DmitryBaranovskiy/raphael.git
[submodule "lib/jquery-ui"]
	path = lib/jquery-ui
	url = git://github.com/jquery/jquery-ui.git
[submodule "lib/jquery"]
	path = lib/jquery
	url = git://github.com/jquery/jquery.git
[submodule "lib/qunit"]
	path = lib/qunit
	url = git://github.com/jquery/qunit.git
