[submodule "libsandstuff/jquery.transform.js"]
	path = libsandstuff/jquery.transform.js
	url = git://github.com/louisremi/jquery.transform.js.git
[submodule "libsandstuff/raphael"]
	path = libsandstuff/raphael
	url = git://github.com/DmitryBaranovskiy/raphael.git
[submodule "libsandstuff/jquery-ui"]
	path = libsandstuff/jquery-ui
	url = git://github.com/jquery/jquery-ui.git
[submodule "libsandstuff/jquery"]
	path = libsandstuff/jquery
	url = git://github.com/jquery/jquery.git
[submodule "libsandstuff/qunit"]
	path = libsandstuff/qunit
	url = git://github.com/jquery/qunit.git
