.todo, .note {
  border: 2px solid red;
  border-radius: 4px;
  padding: 10px;
  background-color: #eee;
  font-weight: bold;
}
.note {
  border-color: green;
}
.todo:before, .note:before {
  content: "TODO: ";
  color: red;
  padding-right: 20px;
}
.note:before {
  content: "NOTE: ";
  color: green;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
}
h2 {
  border-bottom: 1px dashed #bbb;
}
h3 {
  border-left: 3px solid #bbb;
  padding-left: 5px;
}
h3.apimethod {
  font-family: monospace;
}
body {
  margin: 20px 80px;
  font-family: Georgia, Times, Helvetica, serif;
  line-height: 1.5;
}
p, ul, ol, dl {
  margin-left: 10px;
}
pre {
  margin-left: 20px ;
}
pre, code, var {
  background-color: #eee;
  padding: 3px;
  border: 1px dashed #bbb;
  border-radius: 3px;
}
#toc {
  font-size: 0.8em;
}
