html, body {
  background-color: #eed;
  color: #000000;
  margin: 0px;
}

div h1 {
  text-align: center;
   background-color: #eed;
}

p.annotation {
  color:red;
}

a, a:visited {
  color: #900;
}

a:hover {
  color: #d70;
}

applet {
  border: 1px solid black;
}
